

.mb-4 {
	margin-bottom: 4.5rem;
  }
  
  body {
	margin: 0;
  }
  
  section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #8c398d;
	background: linear-gradient(90deg, #8c398d, #822187);
  }
  section figure {
	width: 300px;
	height: 60px;
	perspective: 500px;
  }
  section figure .btn {
	position: relative;
	height: 100%;
	cursor: pointer;
	color: white;
	transition: 0.25s;
	font-size: 1rem;
	transform-style: preserve-3d;
  }
  section figure .btn:hover {
	transform: rotateX(-90deg);
  }
  section figure .btn span {
	left: 0;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	border: 5px solid white;
	padding: 1rem;
	text-align: center;
  }
  section figure .btn span:nth-child(1) {
	transform: translate3d(0, 0, 30px);
  }
  section figure .btn span:nth-child(2) {
	color: #872d8a;
	background-color: white;
	transform: rotateX(90deg) translate3d(0, 0, 32px);
  }
  section small, section a {
	color: white !important;
  }